body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

header, footer {
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  color: darkgreen;
}

h2 {
  color: rgb(55, 18, 204);
}
footer p {
  color: red;
  font-size: 14px;
}

.site-title {
  color: darkgreen;
}

#my-image {
  box-shadow: 0 0 2px 1px black;
}

ul.hobbies {
  list-style-type: square;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  background-color: #f2f2f2;
  border: 1px solid #aa1c1c;
  padding: 8px 12px;
  text-decoration: none;
}

nav a:hover {
  background-color: purple;
  color: white;
}

nav a:focus {
  background-color: #aaa;
}